[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "missForestPredict"]
	path = missForestPredict
	url = https://github.com/sibipx/missforestpredict
